# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3000


# ─── Mongo (master DB) ────────────────────────────────────────────────────────
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=SmartConnect_Noelito
DB_PORT=3306

MONGODB_URI=
#MONGODB_URI=mongodb://localhost:27017/SmartConnect

# ─── Redis ────────────────────────────────────────────────────────────────────

#REDIS_HOST=2.24.196.110
#REDIS_PORT=32770
#REDIS_PASSWORD=nKRVsCJthbYU8DoJAlcbY8S6ocVafsCh


# ─── HubSpot ──────────────────────────────────────────────────────────────────
#dev
#HUBSPOT_CLIENT_ID=
#HUBSPOT_CLIENT_SECRET=
#HUBSPOT_REDIRECT_URI=http://localhost:3000/oauth/hubspot/callback


HUBSPOT_SCOPES=oauth crm.objects.contacts.read crm.objects.contacts.write crm.schemas.contacts.read crm.schemas.contacts.write crm.objects.companies.read crm.objects.companies.write crm.schemas.companies.read crm.schemas.companies.write crm.objects.products.read crm.objects.products.write crm.objects.deals.read crm.objects.deals.write crm.schemas.deals.read crm.schemas.deals.write crm.pipelines.orders.read crm.objects.owners.read crm.objects.line_items.read crm.objects.line_items.write crm.schemas.line_items.read e-commerce
SAP_SYNC_CRON_ENABLED=false

# ─── Auth ─────────────────────────────────────────────────────────────────────
INTERNAL_KEY=
JWT_SECRET=test

# ─── SAP – campos adicionales por entidad ────────────────────────────────────
COMPANY_ADD_FIELDS_URL_SAP=ContactEmployees,BPAddresses
PRODUCT_ADD_FIELDS_URL_SAP=ItemWarehouseInfoCollection,ItemPrices
DEAL_ADD_FIELDS_URL_SAP=DocEntry,DocNum,DocumentStatus

WEBHOOK_EVENT_BATCH_SIZE=10
WEBHOOK_EVENT_MAX_RETRIES=3
WEBHOOK_WORKER_CONCURRENCY=5


SAP_TEST_FIXED_DATETIME=2026-06-26T13:40:00